*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}

.header{
         width: 100%;
         height: 100vh;
         background-image:linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.8) 100%) ,url(images/header-image.png);
         background-size: cover;
         background-position: center;
         padding: 10px 8%;
         position: relative;
        }

nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 0;
}

.logo{
    cursor: pointer;
    width: 150px;
    position: relative;
    top: 20px;
    cursor: default;

}


nav button{
    border: 0;
    outline: 0;
    background:#db0001;
    color: #fff;
    padding:7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 6px 12px;

}


.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    display: grid;
    place-items: center;
    position: relative;
    line-height: 1.75rem;
    top: 310px;
    cursor: default;
}

.header .header-content .email-signup input{
    background-color: #303030;
    color: #fff;
    opacity: 0.9;
    /* color: inherit; */
    
}

.header-content h1{
    font-size: 58px;
    line-height: 75px;
    font-weight: 600;
    max-width: 1600px;
    cursor: default;
}

.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
} 

.email-signup{
     background: #303030;
     opacity: 0.9;
     border-radius: 4px;
     display: flex;
     width: 580px;
     align-items: center;
     margin-top: 30px;
     overflow: hidden;
     position: relative;
     bottom: 8px;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button{
    background-color: #db0001;
   position: relative;
   left: 10px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;

}

.features{
    padding: 50px 12%;
    font-size: 22px;
    border-top:6px solid #333 ;
    
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    /* border-top:6px solid #333 ; */

}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
   
}

.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}

.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}



/*--------------faq---------*/

.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 600;
    font-size: 45px;
}
 
.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 1300px;

}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
} 

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative; 
    }


label::after{
    content:'+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height:0 ;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label  + .content{
   max-height: 600px;
   padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(45deg);

}

.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 20px;

}

.faq .email-signup input{
    background: #303030;
    color: #fff;
     opacity: 0.9;
}


/*--------------footer---------*/

.footer{
    padding: 50px 10px;
    border-top:6px solid #333 ;
    color: #777;

}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    left: 10px;
}

.footer .col{
    flex-basis: 15%;
    flex-grow: 0;
    margin-bottom: 20px;
    /* margin-left: 20px; */
    position: relative;
    left: 340px;

}

.footer .col a {
    display: block;
    /* text-decoration: none; */
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;

}

.footer .row{
    align-items: flex-start;
    padding:10px 0;
}

.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer button{
    color: #fff;
    position: relative;
    left: 200px;
}

.footer p{
    position: relative;
    left: 10px;
}